body {
  background-color: black;
}

body {
  margin: 0;
  font-family: Helvetica, bold;
  background-color: #111;
  color: #fff;
}

header {
  position: relative;
  text-align: center;
  background-color: #000;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

header nav a:hover {
  color: #9ac539;
}

header h1 {
  font-family: "Creepster", cursive;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 10px #9ac539, 0 0 20px #9ac539;
  margin: 0;
}

header h1:hover {
  text-shadow: 0 0 20px #ff0, 0 0 30px #9ac539;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #000000;
  color: #fff;
}

header {
  background: #000000;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffffff;
}

.logo-container {
  text-align: center;
  margin: 20px 0;
}

.logo-container img {
  width: 150px;
}

.newrelease {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  box-sizing: border-box;
  padding: 40px 0;
  position: relative;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.marquee span {
  font-size: 6rem;
  color: #ffffff;
  font-weight: bold;
  margin-right: 2rem;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
