body {
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 700;
  color: #fff;
}

header {
  position: relative;
  text-align: center;
  background-color: #000;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  inline-size: 125px;
}
e header nav a:hover {
  color: #9ac539;
}

header h1 {
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 10px #9ac539, 0 0 20px #9ac539;
}

header h1:hover {
  text-shadow: 0 0 20px #ff0, 0 0 30px #9ac539;
}

header {
  background: #000000;
  padding: 20px;
}

nav a {
  color: #fff;
  margin-right: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffffff;
}

.logo-container {
  text-align: center;
  z-index: 5;
  position: relative;
}

.logo-container img {
  width: 900px;
}

.newrelease {
  width: 100%;
  background-color: #000000;
  position: relative;
  margin-top: -80px;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.marquee span {
  font-size: 6rem;
  color: #ffffff;
  margin-right: 2rem;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.header-photo-clue {
  top: -100px;
  position: relative;
  z-index: 0;
}

.album {
  width: 453px;
  margin: 50px auto;
  align-items: left;
  display: flex;
  flex-direction: row;
}
